* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }

.container{
    height: 100vh;
    background-image: linear-gradient(45deg, white, gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 3rem ;
}

.counter{
    font-size: 10rem;
}

.btn{
    font-size: 2rem;
    color: #FFFFFF;
    background-color: gray;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 0 10px;
    cursor: pointer;
}
